<launch>
  <!-- Gazeboの起動 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- カメラプラグインの起動 -->
  <node name="gazebo_camera_plugin" pkg="gazebo_ros" type="spawn_model" args="-file $(find my_camera_package)/models/kinect/model.sdf -sdf -model kinect" />

  <!-- TFブロードキャスターの起動 -->
  <node name="static_tf_broadcaster" pkg="my_camera_package" type="static_tf_broadcaster.py" output="screen" />
</launch>
