<launch>
  <!-- Gazeboの起動 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- カメラプラグインの起動 -->
  <node name="gazebo_camera_plugin" pkg="gazebo_ros" type="spawn_model" args="-file $(find my_camera_package)/models/kinect/model.sdf -sdf -model kinect" />

  <!-- Gazeboのモデル状態をTFに変換するノード -->
  <node name="gazebo_to_tf" pkg="my_camera_package" type="gazebo_to_tf.py" output="screen" />
  
</launch>
